doctype html
head
    title second page
body
    h1 welcome to pug template engine
    p creating second page for pug
    ul 
        li one item
        li second item
        li thire item
        li b big
        
    b u big
    br
    u big

    
    
    